.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.productlist img:hover {
  transform: scale(1.2);
}

.productlist img {
  border-radius: 30px;
  overflow: hidden;
  transition: 0.3s;
  object-fit: cover;
  width: 300px;
  height: 337px;
}
